{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ event.title }}
{% endblock title %}

{% block nav_event %} navbar_link_active {% endblock nav_event %}

{% block content %}
    
<div class="event_detail">
    <div class="event_detail_hedder">
        <div class="event_detail_main_image">
            <img src="{{ main_image.url }}" alt="عکس اصلی رخداد">
        </div>
        <div class="event_detail_title">
            <h3>{{  event_title}}</h3>
            <span><i class="fas fa-calendar" aria-hidden="true"></i>تاریخ برگزاری : {{ event_date|date:"d-m-Y" }}</span>
            <span><i class="fa fa-clock" aria-hidden="true"></i>زمان برگزاری : {{ event_date|time:"H:i" }}</span>
            <span><i class="fa fa-map-marker" aria-hidden="true"></i>مکان برگزاری : {{ location }}</span>
            <span><i class="fa fa-user" aria-hidden="true"></i>ظرفیت باقی مانده: {{ capacity }} نفر</span>
            <span><i class="fas fa-hourglass-half"></i>مهلت ثبت نام : {{ event_register_deadline|date:"d-m-Y" }}</span>
            
            {% if is_registration_open %}
                <a href="{% url 'events:event_registration' event_slug %}" class="register_btn">ثبت نام کنید</a>
            {% endif %}
            <a href="{% url 'association:generate_qr_code' event_slug %}" class="register_btn_qr">دریافت QR Code</a>
        

            
        </div>
    </div>
    <div class="event_detail_caption">
        {{ event_description_html|safe }}
    </div>


    <div class="event_detail_extra_image">
        {% for image in extra_images %}
            {% if forloop.first or forloop.counter0|divisibleby:2 %}
                <div class="event_detail_extra_image_row">
            {% endif %}
            
            <div class="event_detail_extra_image_item">
                <img src="{{ image.url }}" alt="عکس رخداد">
            </div>
        
            {% if forloop.counter0|add:1|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
    

    </div>
</div>
{% endblock content %}
