{% extends 'base.html' %}
{% load static %}

{% block title %}
    رخدادها
{% endblock title %}
    
{% block content %}
    <!-- Events List -->
    <div class="container my-5">
        <!-- Navigation -->
        <div class="navbar navbar-light bg-light">
            <h2 class="mx-right">رخ‌دادها</h2>
            <a href="#" class="btn btn-outline-danger"><i class="bi bi-arrow-left"></i></a>
        </div>
    
        <!-- Search Bar -->
        <div class="container mt-5 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <form method="get" action="{% url 'events:events_list' %}" class="d-flex">
                        <input class="form-control me-2 search-bar" type="search" name="search" placeholder="جست و جو" value="{{ request.GET.search }}" aria-label="Search">
                        <input type="date" id="date" name="date" class="form-control me-2" value="{{ request.GET.date }}">
                        <button class="btn btn-outline-danger" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Events Rows -->
        <div class="row">
            <!-- First Column: Events with odd index -->
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% for event in events %}
                    {% if forloop.counter0|divisibleby:2 %}
                    <a href="{% url 'events:event_detail' event.slug %}" class="unstyled-link">
                        <li class="event-item d-flex justify-content-between mb-3">
                            <img class="event-thumbnail" src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid">
                            <h4>{{ event.title }}</h4>
                            <span>{{ event.date }}</span>
                        </li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <!-- Second Column: Events with even index -->
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% for event in events %}
                    {% if not forloop.counter0|divisibleby:2 %}
                    <a href="{% url 'events:event_detail' event.slug %}" class="unstyled-link">
                        <li class="event-item d-flex justify-content-between mb-3">
                            <img class="event-thumbnail" src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid">
                            <h4>{{ event.title }}</h4>
                            <span>{{ event.date }}</span>
                        </li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

