{% extends "base.html" %}


{% block title %}
    {{professor.name}} {{professor.fname}}
{% endblock title %}


{% block content %}
    {{professor.name}}
    <br/>
    {{professor.fname}}
    <br/>

    {{professor.location}}
    <br/>

    {{professor.tag}}
    <br/>

    {{professor.phone_number}}
    <br/>

    {{professor.profile_image}}
    <br/>
    
    work_experiences
    {% for work_experience in professor.work_experiences.all %}
        {{work_experience.title}}<br/>
        {{work_experience.form_date}}<br/>
        {{work_experience.to_date}}<br/>
    {% endfor %}
    <br/>
    
    papers
    {% for paper in professor.papers.all %}
        {{paper.title}}<br/>
        {{paper.date}}<br/>
        {{paper.link}}<br/>
    {% endfor %}
    <br/>

    educational_records
    {% for educational_record in professor.educational_records.all %}
        {{paper.title}}<br/>
        {{paper.date}}<br/>
    {% endfor %}
    <br/>
    research_areas
    {% for research_area in professor.research_areas.all %}
        {{paper.title}}<br/>
    {% endfor %}
    <br/>

    teaching_courses
    {% for teaching_course in professor.teaching_courses.all %}
        {{teaching_course.title}}<br/>
        {{teaching_course.semester}}<br/>
    {% endfor %}
    <br/>

    academic_activities
    {% for academic_activitie in professor.academic_activities.all %}
        {{academic_activitie.title}}<br/>
    {% endfor %}
    <br/>

    external_links
    {% for external_link in professor.external_links.all %}
        {{external_link.title}}<br/>
    {% endfor %}
    <br/>
    
    

    

{% endblock content %}
    