{% extends 'base.html' %}
{% load static %}


{% block title %}
   شهدا 
{% endblock title %}


{% block nav_shahid %} navbar_link_active {% endblock nav_shahid %}

{% block content %}


<div class="search_nav">
    <span class="search_title">شهدا</span>
    <div class="search-container">
        <form method="GET" action="{% url 'shahid:shahid_list' %}">
            <input type="text" name="q" placeholder="جست و جو" value="{{ query }}">
            <button  type="submit" class="search-icon"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>

<div class="shahid_list">
    {% for shahid in shahid_list %}
        {% if forloop.first or forloop.counter0|divisibleby:4 %}
        <div class="shahid_row">
        {% endif %}

            <div class="shahid_card">
                <div class="shahid_card_hedder">
                    <span>{{ shahid.martyrdom_location }}</span>
                </div>
                <div class="shahid_card_profile">
                    <img src="{{ shahid.profile_image.url }}" alt="{{ shahid.full_name }}">
                </div>
                <div class="shahid_card_caption">
                    <h3>{{ shahid.full_name }}</h3>
                    <p> {{ shahid.life_story|truncatewords:10 }} </p>
                    <a href="{% url 'shahid:shahid_detail' shahid.slug %}">جزئیات</a>
                </div>
            </div>

        {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
</div>
 

{% endblock %}
