{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <!--======================================== navbar ========================================-->
    <div class="navbar">
        <div class="navbar_items">
            <div class="navbar_logo">
                <img class="navbar_logo_img" src="{% static 'images/main_logo.png' %}" alt="لوگوی اصلی">
                <span class="navbar_logo_text">
                    مجتمع آموزش عالی <br> تربت جام
                </span>
            </div>
            <div class="navbar_links">
                <ul>
                    <ul class="navbar_item" >
                        <a class="navbar_link {% block nav_home %} {% endblock nav_home %}" href="{% url 'home:home' %}">خانه</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link {% block nav_event %} {% endblock nav_event %}" href="{% url 'events:events_list' %}">رخدادها</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link {% block nav_professor %} {% endblock nav_professor %}" href="{% url 'professors_staffs:professor_list' %}">اساتید</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link {% block nav_staff %} {% endblock nav_staff %}" href="{% url 'professors_staffs:staff_list' %}">کارمندان</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link {% block nav_association %} {% endblock nav_association %}" href="{% url 'association:association_list' %}">انجمن ها</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link {% block nav_shahid %} {% endblock nav_shahid %}" href="{% url 'shahid:shahid_list' %}">شهدا</a>
                    </ul>
                    <ul class="navbar_item">
                        <a class="navbar_link" href="#footer">درباره ما</a>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <!--======================================== END-navbar ========================================-->
    <!-- Flash Messages Section -->

    {% if messages %}
        <div id="toast-wrapper" style="position: fixed; top: 10px; right: 10px; z-index: 1050;">
            {% for message in messages %}
                <div class="toast-container slide-in" role="alert" aria-live="assertive" aria-atomic="true"
                    style="background-color: 
                        {% if message.tags == 'error' %}#dc3545
                        {% elif message.tags == 'success' %}#198754
                        {% elif message.tags == 'info' %}#0dcaf0
                        {% elif message.tags == 'warning' %}#ffc107
                        {% else %}#6c757d{% endif %};
                        color: white; padding: 10px; border-radius: 5px; margin-bottom: 10px; 
                        display: flex; align-items: center; min-width: 250px; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);">
                    
                    <div style="flex-grow: 1; padding-right: 10px;">
                        {{ message }}
                    </div>

                    <button type="button" style="background: none; border: none; color: white; font-size: 18px; cursor: pointer;" onclick="closeToast(this)" aria-label="Close">
                        ✖
                    </button>
                </div>
            {% endfor %}
        </div>
    {% endif %}




    {% block content %}
    
    
    {% endblock content %}
    <div class="footer" id="footer">
      <div class="fotter_main_content">
          <div class="about_us">
              <div class="about_us_item">
                  <img src="{% static 'icons/location.svg' %}" alt="location">
                  <p>خراسان رضوی - شهرستان تــربت جــام، بلوار خلیج فارس، بین خلیج فارس 11 و 13، مجتمع آموزش عالی تــربت جــام</p>
              </div>
              <div class="about_us_item">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone">
                  <p>تلفن : ۴۴-۰۵۱۵۲۵۴۷۰۴۱</p>
              </div>
              <div class="about_us_item">
                  <img src="{% static 'icons/Printer.svg' %}" alt="Printer">
                  <p>نمابر : ۰۵۱۵۲۵۴۷۰۴۵ </p>
              </div>
              <div class="about_us_item">
                  <img src="{% static 'icons/Codesandbox.svg' %}" alt="Codesandbox">
                  <p>کد پستی: ۹۵۷۱۹۶۶۵۹۰</p>
              </div>
          </div>
          <div class="fotter_nav">
              <p>سامانه اطلاع رسانی مجتمع آموزش عالی تربت جام</p>
              <hr>
              <ul>
                  <li><a href="{% url 'home:home' %}">خانه</a></li>
                  <li><a href="{% url 'professors_staffs:professor_list' %}">اساتید</a></li>
                  <li><a href="{% url 'professors_staffs:staff_list' %}">کارمندان</a></li>
                  <li><a href="{% url 'events:events_list' %}">رخداد ها</a></li>
                  <li><a href="{% url 'association:association_list' %}">انحمن ها</a></li>
                  <li><a href="{% url 'shahid:shahid_list' %}">شهدا</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="icons_copy_right">
          <div class="fotter_icons">
              <a href="#"><img src="{% static 'icons/Github.svg' %}" alt="Github"></a>
              <a href="#"><img src="{% static 'icons/Instagram.svg' %}" alt="Instagram"></a>
              <a href="#"><img src="{% static 'icons/Linkedin.svg' %}" alt="Linkedin"></a>
          </div>
          <p>تمامی حقوق و محتوا برای محمد حسین بنی اسدیی محفوظ می باشد.</p>
      </div>
  </div>


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
   
        
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                document.querySelectorAll('.toast-container').forEach(function (toast) {
                    toast.classList.add("slide-out");
                    setTimeout(() => toast.remove(), 500); // حذف بعد از انیمیشن
                });
            }, 5000);
        });

        function closeToast(button) {
            let toast = button.parentElement;
            toast.classList.add("slide-out");
            setTimeout(() => toast.remove(), 500);
        }
    </script>
  </body>
</html>


