{% extends "base.html" %}


{% block title %}
    {{staff.name}} {{staff.fname}}
{% endblock title %}

{% block nav_staff %} navbar_link_active {% endblock nav_staff %}

{% block content %}



<div class="profssor_detal_hedder">
    <div class="profssor_detal_hedder_imaage">
        <img src="{{staff.profile_image.url}}" alt="عکس استاد">
    </div>
    <div class="profssor_detal_hedder_title">
        <small style="font-size: 16px;">نام و نام خانوادگی: </small><h3>{{staff.name}} {{staff.fname}}</h3>
        <small style="font-size: 16px;">محل کار: </small><h3> {{staff.location}}</h3>
        <small style="font-size: 16px;">بخش مریوطه: </small><h3>{{staff.tag}}</h3>
        <small style="font-size: 16px;">شماره تماس: </small><h3>{{staff.phone_number}} </h3>
        <a href="{% url 'professors_staffs:generate_qr_code' staff.slug %}" class="register_btn_qr">دریافت QR Code</a>
    </div>
</div>
<div class="profssor_detal_caption">
    <div>
        <div class="profssor_detal_caption_item">
            <h2>سوابق تحصیلی</h2>
            {% for educational_record in staff.educational_records.all %}
                <li>{{educational_record.title}} | {{educational_record.date}}</li>
            {% endfor %}
        </div>
        <div class="profssor_detal_caption_item">
            <h2>دروس تدریسی</h2>
            {% for teaching_course in staff.teaching_courses.all %}
                <li>{{teaching_course.title}} | {{teaching_course.semester}}</li>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="profssor_detal_caption_item">
            <h2>سوابق کاری</h2>
            {% for work_experience in staff.work_experiences.all %}
                <li>{{work_experience.title}} {{work_experience.form_date}} - {{work_experience.to_date}} </li>
            {% endfor %}
        </div>
        <div class="profssor_detal_caption_item">
            <h2>آثار و مقالات</h2>
            {% for paper in staff.papers.all %}
                <a href="{{paper.link}}"><p>{{paper.title}}</p></a>
                <li>سال انتشار:  {{paper.date}}</li>
            {% endfor %}

        </div>
        <div class="profssor_detal_caption_item">
            <h2>فعالیت‌های دانشگاهی و اجرایی</h2>
            {% for academic_activitie in staff.academic_activities.all %}
                <li> {{academic_activitie.title}} </li>
            {% endfor %}

        </div>
        <div class="profssor_detal_caption_item">
            <h2>لینک‌های خارجی</h2>
            {% for external_link in staff.external_links.all %}
                <br/>
                <li><a href="{{external_link.related_link}}"> <i class="fa fa-external-link" aria-hidden="true"> </i>{{external_link.title}}</i></a></li>
            {% endfor %}
        </div>
    </div>
   

</div>

{% endblock content %}
    