{% extends "base.html" %}


{% block title %}
    انجمن ها
{% endblock title %}

{% block nav_association %} navbar_link_active {% endblock nav_association %}

{% block content %}

    <div class="search_nav">
        <span class="search_title">اجمن ها</span>
        <div class="search-container">
            <form method="GET" action="{% url 'association:association_list' %}">
                <input type="text" name="q" placeholder="جست و جو" value="{{ query }}">
                <button  type="submit" class="search-icon"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>

    {% for association in associations %}
        <div class="association_list">
            <div class="home_right_association">
                <div class="home_right_association_image">
                    <img src="{{ association.logo.url }}" alt="{{association.name}}">
                </div>
                <div class="home_right_association_caption">
                    <h2>{{association.name}}</h2>  
                    <p>{{association.description|truncatewords:40}}</p>
                    <a href="{% url 'association:association_detail' association.slug %}">جزئیات</a>
                </div>
            </div>
        
        </div>      
    {% endfor %}

{% endblock content %}
    